# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_dp1000_LEFT

config ZMK_KEYBOARD_NAME
	default "dp1000"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_dp1000_LEFT || SHIELD_dp1000_RIGHT

config ZMK_SPLIT
	default y

endif
